{% extends '../index.html' %}
{% load i18n %}

{% block content %}
	<h1 class="my-4">{% trans "Statuses" %}</h1>
	<a class="btn btn-primary mb-3" href="/statuses/create/">{% trans "Create status" %}</a>
	<table class="table table-striped">
	<thead>
	<tr>
		<th>{% trans "ID" %}</th>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Date created" %}</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
		<tbody class="table-group-divider">
			{% for status in statuses %}
				<tr>
					<td class="align-middle text-center">{{ status.id }}</td>
					<td class="align-middle">{{ status.name }}</td>
					<td class="align-middle">{{ status.created_at|date:'d.m.Y H:i' }}</td>
					<td class="align-middle">
						<a href="/statuses/{{ status.id }}/update/">{% trans "Change" %}</a>
						<br>
						<a href="/statuses/{{ status.id }}/delete/">{% trans "Delete" %}</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
	</tbody>
	</table>
{% endblock %}