{% extends '../index.html' %}
{% load i18n %}

{% block content %}
	<h1 class="my-4">Пользователи</h1>		
	<table class="table table-striped">
	<thead>
	<tr>
		<th>ID</th>
		<th>Имя пользователя</th>
		<th>Полное имя</th>
		<th>Дата создания</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
		<tbody class="table-group-divider">
			{% for person in users %}
				<tr>
					<td class="align-middle text-center">{{ person.id }}</td>
					<td class="align-middle">{{ person.username }}</td>
					<td class="align-middle">{{ person.get_full_name }}</td>
					<td class="align-middle">{{ person.date_joined|date:'d.m.Y H:i' }}</td>
					<td class="align-middle">
						{% if user.is_authenticated %}
							{% if user.id == person.id %}
								<a href="/users/{{ person.id }}/update/">Изменить</a>
								<br>
								<a href="/users/{{ person.id }}/delete/">Удалить</a>
							{% else %}
								<a href="/users/">Изменить</a>
								<br>
								<a href="/users/">Удалить</a>
							{% endif %}
						{% else %}
							<a href="/login/">Изменить</a>
							<br>
							<a href="/login/">Удалить</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
	</tbody>
	</table>
{% endblock %}