{% extends '../index.html' %}
{% load i18n %}

{% block content %}
	<h1 class="my-4">{% trans "Users" %}</h1>		
	<table class="table table-striped">
	<thead>
	<tr>
		<th>{% trans "ID" %}</th>
		<th>{% trans "Username" %}</th>
		<th>{% trans "Full name" %}</th>
		<th>{% trans "Date created" %}</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
		<tbody class="table-group-divider">
			{% for person in users %}
				<tr>
					<td class="align-middle text-center">{{ person.id }}</td>
					<td class="align-middle">{{ person.username }}</td>
					<td class="align-middle">{{ person.get_full_name }}</td>
					<td class="align-middle">{{ person.date_joined|date:'d.m.Y H:i' }}</td>
					<td class="align-middle">
						<a href="/users/{{ person.id }}/update/">{% trans "Change" %}</a>
						<br>
						<a href="/users/{{ person.id }}/delete/">{% trans "Delete" %}</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
	</tbody>
	</table>
{% endblock %}