{% extends '../index.html' %}
{% load i18n %}

{% block content %}
	<h1 class="my-4">Метки</h1>
	<a class="btn btn-primary mb-3" href="/labels/create/">Создать метку</a>
	<table class="table table-striped">
	<thead>
	<tr>
		<th>ID</th>
		<th>Имя</th>
		<th>Дата создания</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
		<tbody class="table-group-divider">
			{% for label in labels %}
				<tr>
					<td class="align-middle text-center">{{ label.id }}</td>
					<td class="align-middle">{{ label.name }}</td>
					<td class="align-middle">{{ label.created_at|date:'d.m.Y H:i' }}</td>
					<td class="align-middle">
						<a href="/labels/{{ label.id }}/update/">Изменить</a>
						<br>
						<a href="/labels/{{ label.id }}/delete/">Удалить</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
	</tbody>
	</table>
{% endblock %}