{% extends '../index.html' %}
{% load i18n %}

{% block content %}
	<h1 class="my-4">{% trans "Tasks" %}</h1>
	<a class="btn btn-primary mb-3" href="/tasks/create/">{% trans "Create task" %}</a>
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form class="form-inline center" method="get">
                {{ filter.form.as_p }}
                <input class="btn btn-primary" type="submit" value="Показать">
            </form>
        </div>
    </div>

	<table class="table table-striped">
	<thead>
	<tr>
		<th>ID</th>
		<th>{% trans "Name" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Author" %}</th>
        <th>{% trans "Executor" %}</th>
		<th>{% trans "Date created" %}</th>
		<th></th>
	</tr>
	</thead>
    <tbody class="table-group-divider">
        {% for task in tasks %}
            <tr>
                <td class="align-middle text-center">{{ task.id }}</td>
                <td class="align-middle"><a href="{% url 'task_detail' task.id %}">{{ task.name }}</a></td>
                <td class="align-middle">{{ task.status }}</td>
                <td class="align-middle">{{ task.author.get_full_name }}</td>
                <td class="align-middle">{{ task.executor.get_full_name }}</td>
                <td class="align-middle">{{ task.created_at|date:'d.m.Y H:i' }}</td>
                <td class="align-middle">
                    <a href="/tasks/{{ task.id }}/update/">{% trans "Change" %}</a>
                    <br>
                    <a href="/tasks/{{ task.id }}/delete/">{% trans "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
	</table>
{% endblock %}